{% extends "base.html.twig" %}
{% block main %}

<button onclick="history.back()" class="back-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <rect width="24" height="24" fill="none"/>
        <path fill="currentColor" d="M22 13v-2H5.828l3.95-3.95l-1.414-1.414L2 12l6.364 6.364l1.414-1.414L5.828 13z"/>
    </svg>
</button>

{% for item in movies %}
    <img src="images/{{ item.Cover }}" alt="">
    <br>
    {{ item.Summery}}
{% endfor %}


 <table>          
        <tr>
            <th>Title</th>
            <th>ReleaseYear</th>
            <th>Genre</th>
        </tr>
    {% for item in movies %}

        <tr> 
            <td>  {{ item.Title   }}</td> 
            <td>  {{ item.ReleaseYear }}</td> 
            <td>  {{ item.Genre}}</td> 
        </tr>   

       <h3> <a href="{{url("review.php")}}?MovieId={{ item.MovieId }}">reviews</a> </h3>
      {% endfor %}
        </table>¨



    {% if not username %}  
      Logga in för att lägga till watchlist 
     {% endif %}
    
     {% if username %}  
        <form action="watchlist-formhandler.php?MovieId={{MovieId}}"  method="post">
        <input type="hidden" name="MovieId" value="{{ MovieId }}">
        <input type="hidden" name="UserId" value="{{ UserId }}">
        
    <input type="submit" value="Add to watchlist">
  </form>
     {% endif %}
  



{% endblock %}