{% extends "base.html.twig" %}
{% block main %}
  

{% for item in movies %}
    <img src="images/{{ item.Cover }}" alt="">
    {{ item.Summery}}
{% endfor %}


Work in progress

 <table>          
        <tr>
            <th>Title</th>
            <th>ReleaseYear</th>
            <th>Genre</th>
        </tr>
    {% for item in movies %}
    ID test: {{ item.MovieId }}
        <tr> 
            <td>  {{ item.Title   }}</td> 
            <td>  {{ item.ReleaseYear }}</td> 
            <td>  {{ item.Genre   }}</td> 
        </tr>

        <a href="{{url("review.php")}}?MovieId={{ item.MovieId }}">+reviews</a>
      {% endfor %}
        </table>¨



    {% if not username %}  
      Logga in för att lägga till watchlist 
     {% endif %}
    
     {% if username %}  
        <form action="watchlist-formhandler.php?MovieId={{MovieId}}"  method="post">
        <input type="hidden" name="MovieId" value="{{ MovieId }}">
        <input type="hidden" name="UserId" value="{{ UserId }}">
        
    <input type="submit" value="Add to watchlist">
  </form>
     {% endif %}
  



{% endblock %}