{% extends "base.html.twig" %}
{% block main %}
  
Work in progress

 <table>          
        <tr>
            <th>Title</th>
            <th>ReleaseYear</th>
            <th>Genre</th>
        </tr>
    {% for item in movies %}
    ID test: {{ item.MovieId }}
        <tr> 
            <td>  {{ item.Title   }}</td> 
            <td>  {{ item.ReleaseYear }}</td> 
            <td>  {{ item.Genre   }}</td> 
        </tr>

        <a href="{{url("review.php")}}?MovieId={{ item.MovieId }}">+reviews</a>
      {% endfor %}
        </table>



{% endblock %}