{% extends "base.html.twig" %}
{% block main %}

<div class="MainInfo">
{% for item in movies %}
      <div class="movie-poster">
            <img src="images/{{ item.Cover }}" alt="{{ item.Title }}">
            </div>
  
            

{% endfor %}
{% for item in movies %}


            

{% endfor %}
 <div>

 <table>          
        <tr>
            <th>Title</th>
            <th>ReleaseYear</th>
            <th>Genre</th>
        </tr>
    {% for item in movies %}
<div class="summery">
<h4> Summery</h4>
{{ item.Summery}}
</div>
        <tr> 
            <td>  {{ item.Title}}</td> 
            <td>  {{ item.ReleaseYear }}</td> 
            <td> <a href="{{url("Allmovies.php")}}?genre={{ item.Genre}}"> {{ item.Genre}}</a></td>
        </tr>   
       
      {% endfor %}
        </table>
        </div>
</div>


       <h3 class="action"> <a href="{{url("review.php")}}?MovieId={{ item.MovieId }}" class="review-button">reviews</a> </h3>


    {% if not username %}  
      Logga in för att lägga till watchlist 
     {% endif %}
    
     {% if username %}  
        <form action="watchlist-formhandler.php?MovieId={{MovieId}}" class="watchlist-button"  method="post">
        <input type="hidden" name="MovieId" value="{{ MovieId }}">
        <input type="hidden" name="UserId" value="{{ UserId }}">
        <input type="submit" value="Add to watchlist">
  </form>

     {% endif %}
 <h4 class="info">Liknade filmer</h4>
{% endblock %}



    
            
          
    