{% extends "base.html.twig" %}
{% block main %}
  
<h1>Movies</h1>
  <table>
        <tr>
            <th>Movies</th>
        </tr>
{% for item in movies %}
        <tr>
            <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}">{{ item.Title }}</a></td>
        </tr>
  {% endfor %}
    </table>


    
     <h1>Your watchlist</h1>
      {% if username %}  
    <table>
        <tr>
            <th>Movies</th>
        </tr>
{% for item in watchlist %}
        <tr>
            <td> {{item.Title}}  </td>
            <td>{{item.DateAdded | date("d/m-Y h:i") }}</td>
        </tr>
  {% endfor %}
    </table>
     {% endif %}
    {% if not username %}  
         <h3>work in progress, log in to access</h3>
     {% endif %}
{% endblock %}
 
  

