{% extends "base.html.twig" %}
{% block main %}

 <h2>Discover Movies</h2>
  
<div class="Movieboxes">
<table>
        <tr>
            <th>Newest additons</th>
            <th>Date Added</th>
        </tr>
{% for item in newest %}
        <tr>
            <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}&genre={{item.Genre}}">{{ item.Title }}</a></td>
              <td>{{item.MovieDateAdded | date("d/m-Y")}}</td>
        </tr>
  {% endfor %}
    </table>

<table>
        <tr>
            <th>Classics</th>
            <th>Release Year</th>
        </tr>
        
            
        
{% for item in classics %}
        <tr>
           <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}&genre={{item.Genre}}">{{ item.Title }}</a></td>
                    <td>{{item.ReleaseYear }}</td>  
        </tr>
     
  {% endfor %}
    </table>
</div>


    
     <h1>Your watchlist</h1>
      {% if username %}  


    <table>
        <tr>
            <th>Movies</th>
            <th>Date Added</th>
        </tr>
{% for item in watchlist %}
        <tr>
            <td> <a href="{{url("info.php")}}?MovieId={{ item.MovieId }}&genre={{item.Genre}}">{{ item.Title }}</a></td>
            <td>{{item.DateAdded | date("d/m-Y H:i") }}</td>
        </tr>
  {% endfor %}
    </table>
     {% endif %}
    {% if not username %}  
         <h3>Log in to access</h3>
     {% endif %}

{% endblock %}
 
  

