{% extends "base.html.twig" %}


{% block main %}
<button onclick="history.back()" class="back-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <rect width="24" height="24" fill="none"/>
        <path fill="currentColor" d="M22 13v-2H5.828l3.95-3.95l-1.414-1.414L2 12l6.364 6.364l1.414-1.414L5.828 13z"/>
    </svg>
</button>
<h1>review</h1>

 <p>Write a <a href="{{url("new-review.php")}}?MovieId={{ MovieId }}">review</a></p>
 

        {% for item in review %}
        <div>
          <h3>{{ item.ReviewTitle }} </h2>  
           <p> utav  {{ item.Rating }}/10 </p>
         <p> {{ item.ReviewContent }} </p>
          <p><i> {{ item.User }} vid {{item.ReviewTime | date("d/m-Y h:i") }} </i></p>
        </div>
      {% else %}
        <div>Finns inga review</div>
   
        {% endfor %}
</div>
    
  {% endblock %}